@model WebSocial.Models.ApplicationUser

@{
    ViewBag.Title = Resources.Home;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<br />

@using (Html.BeginForm("SetCulture", "Home"))
{
    <fieldset>
        <legend>@Resources.ChooseYourLanguage</legend>
        <div class="control-group">
            <div class="controls">
                <label for="en-us">
                    <input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> English
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="pt">
                    <input name="culture" id="pt" value="pt" type="radio" @selected("pt", culture) /> Português
                </label>
            </div>
        </div>

    </fieldset>
}

@if (!User.IsInRole("User") && !User.IsInRole("Admin"))
{
    <div class="jumbotron">
        <h1>WebSocial</h1>
        <p class="lead">@Resources.SiteDesc</p>
        <p><a href="ftp://wvm061.dei.isep.ipp.pt/setup.exe" class="btn btn-primary btn-large">Download Client &raquo;</a></p>
    </div>
}
else
{
    <br />
    if (User.IsInRole("User"))
    {
        <br />
        <legend>@Resources.UserInfo</legend>

        <table class="table">
            <tr>
                <th>@Resources.Country</th>
                <td>@Model.Country</td>

            </tr>
            <tr>
                <th>@Resources.City</th>
                <td>@Model.City</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>@Resources.Dimension</th>
                <td>@ViewBag.Dimension</td>

            </tr>
            <tr>
                <th>
                    @Resources.YourTags
                </th>
                <td>
                    <text>|</text>
                    @foreach (var item in ViewBag.UserTags)
                    {
                        @item.Name
                        <text>|</text>
                    }
                </td>
            </tr>
        </table>

    }
    <p><a href="http://n-media.net/wp-content/uploads/2013/05/Web-under-construction.jpeg" class="btn btn-primary btn-large">Download Client &raquo;</a></p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);
    </script>
}
