@using WebSocial.Models

@{
    ViewBag.Title = Resources.Statistics;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<table class="table">
    <tr>
        <th>@Resources.NetworkDimension</th>
        <td>@ViewBag.Dimension</td>
    </tr>
</table>

<h2>@Resources.Leaderboard</h2>
<table class="table">
    <tr>
        <td>@Resources.Position</td>
        <td>@Resources.UserName</td>
        <td>@Resources.NetworkDimension</td>
    </tr>
    @for (int i = 0; i < 10; i++)
    {
        <tr>
            <td>@(i + 1)</td>
            <td>@ViewBag.Users[i].user</td>
            <td>@ViewBag.Users[i].dimension</td>
        </tr>
    }
</table>

<h2>@Resources.OverallUserTags</h2>
<div id="tags">
    @foreach (TagCount tag in ViewBag.AnomUserTag)
    {
        <b class="@tag.TagClass">@tag.Tag.Name</b>
    }
</div>

<h2>@Resources.OverallConTags</h2>
<div id="tags">
    @foreach (TagCount tag in ViewBag.AnomConnTag)
    {
        <b class="@tag.TagClass">@tag.Tag.Name</b>
    }
</div>