@using WebSocial.Helpers.Models;

@{
    ViewBag.Title = @Resources.Friends;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<h2>@Resources.FriendsList</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Resources.Friends</th>
            <th>@Resources.ConStr</th>
            <th>@Resources.Tags</th>
        </tr>
    </thead>
    @for (int i = 0; i < ViewBag.friends.Count; i++)
    {
        <tr>
            @if (ViewBag.friends[i].user1 != ViewBag.username)
            {
                <td>@ViewBag.friends[i].user1</td>
            }
            else
            {
                <td>@ViewBag.friends[i].user2</td>
            }
            <td>@ViewBag.friends[i].connection</td>
            <td>
                @foreach (string tag in ViewBag.friends[i].tags)
                {
                    @tag
                    <text>|</text>
                }
            </td>
            <td>
                @Html.ActionLink(Resources.Edit, "Edit", new { id = i })
                <text>|</text>
                @Html.ActionLink(Resources.Delete, "Delete", new { id = i })
            </td>
        </tr>
    }

</table>
<br />

<h2>@Resources.SugFriends</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Resources.Friends</th>
        </tr>
    </thead>
    @foreach (string item in ViewBag.suggestedFriends)
    {
        <tr>
            <td>@item</td>

            <td>
                @Html.ActionLink(@Resources.Add, "RequestFriend", new { friend = item })
            </td>
        </tr>
    }

</table>


