@using WebSocial.Helpers.Models;

@{
    ViewBag.Title = @Resources.Notification;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<h2>@Resources.Notification</h2>

@if (((List<string>)ViewBag.pendingRequests).Count == 0 && ((List<string>)ViewBag.gameRequests).Count == 0 && ((List<string>)ViewBag.requestNotification).Count == 0)
{
    <h3>@Resources.NoNotifications</h3>
}

@if (((List<string>)ViewBag.pendingRequests).Count > 0)
{
    <h3>@Resources.PRequests</h3>
    <table class="table">
        @foreach (string item in ViewBag.pendingRequests)
        {
            <tr>
                <td>@item</td>
                <td>
                    @Html.ActionLink(Resources.Accept, "AcceptRequest", new { friend = item })
                    <text>|</text>
                    @Html.ActionLink(Resources.Game, "GameResponse", new { friend = item })
                    <text>|</text>
                    @Html.ActionLink(Resources.Delete, "DeleteResponse", new { friend = item })
                </td>

            </tr>
        }

    </table>
}

@if (((List<string>)ViewBag.gameRequests).Count > 0)
{
    <h3>@Resources.GRequests</h3>
    <table class="table">
        @foreach (string item in ViewBag.gameRequests)
        {
            <tr>
                <td>@item</td>
                <td>@Html.ActionLink(Resources.Delete, "DeleteResponse", new { friend = item })</td>
            </tr>
        }

    </table>
}

@if (((List<string>)ViewBag.requestNotification).Count > 0)
{
    <h3>@Resources.ARequests</h3>
    <table class="table">
        @foreach (string item in ViewBag.requestNotification)
        {
            <tr>
                <td>@item</td>
                <td>@Html.ActionLink(Resources.Delete, "DeleteResponse", new { friend = item })</td>
            </tr>
        }

    </table>
}
