@using WebSocial.Helpers.Models;

@{
    ViewBag.Title = @Resources.Notification;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<h2>@Resources.Notification</h2>

<h3>Pending Requests</h3>
<table>
    @foreach (string item in ViewBag.pendingRequests)
    {
        <tr>
            <td>@item</td>
            <td>
                @Html.ActionLink("Accept", "AcceptRequest", new { friend = item })
                <text>|</text>
                @Html.ActionLink("Game", "GameResponse", new { friend = item})
                <text>|</text>
                @Html.ActionLink(Resources.Delete, "DeleteResponse", new { friend = item})
            </td>

        </tr>
    }

</table>

<h3>Game Requests</h3>
<table>
    @foreach (string item in ViewBag.gameRequests)
    {
        <tr>
            <td>@item</td>
            <td>@Html.ActionLink(Resources.Delete, "DeleteResponse", new { friend = item })</td>
        </tr>
    }

</table>

<h3>Accepted Requests</h3>
<table>
    @foreach (string item in ViewBag.requestNotification)
    {
        <tr>
            <td>@item</td>
            <td>@Html.ActionLink(Resources.Delete, "DeleteResponse", new { friend = item })</td>
        </tr>
    }

</table>