@model IEnumerable<WebSocial.Models.Tag>

@{
    ViewBag.Title = Resources.Index;
}

<h2>@Resources.Index</h2>

@if (User.IsInRole("User") || User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources.Create + " " + Resources.NewF, "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Resources.AllTags
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.IsInRole("User"))
                {
                    if (Html.Action("UserHasTag", new { id = item.ID }).ToString() == "True")
                    {
                        @Html.ActionLink(Resources.Remove, "AddOrRemoveTag", new { id = item.ID });
                    }
                    else
                    {
                        @Html.ActionLink(Resources.Add, "AddOrRemoveTag", new { id = item.ID });
                    }
                }
                else if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink(Resources.Delete, "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }
</table>

@if (User.IsInRole("User"))
{

    <br />

    <table class="table">
        <tr>
            <th>
                @Resources.YourTags
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.UserTags)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }

    </table>

}
